.pagina-cursos {
    margin-top: 45px;
    display: grid;
    /* place-items: center; */
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
}

.pagina-cursos .box-pagina-cursos {
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 20px #C6C4DF;
    padding: 1em 3.3em 3.5em 5.5em;
    transition: 0.3s;
}

.pagina-cursos .box-pagina-cursos:hover {
    transform: scale(1.05);
}

.pagina-cursos .box-pagina-cursos .tittle-cursos {
    display: flex;
    align-items: center;
    position: relative;
    right: 5px;
}

.tittle-cursos span {
    margin-right: 10px;
}

.tittle-cursos h1 {
    font-weight: 500;
    font-size: 26px;
}

.pagina-cursos .box-pagina-cursos p {
    color: var(--light-gray);
    font-size: 18px;
    max-width: 392vw;
}